body {
    font-family: 'Vazirmatn', sans-serif;
}

/* Custom scrollbar for a sleeker look in the chat window */
#chat-messages::-webkit-scrollbar {
    width: 8px;
}

#chat-messages::-webkit-scrollbar-track {
    background: #1f2937;
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 20px;
}